@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;400;500&display=swap');



* {
    Margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 500;
}

//maps

$colores: (
    primario: #F1BB1D,
    secundario: #f8f8f8,
    terciario: #707070,
    footer: #ddd
);



.contenedor {
    display: grid;
    gap: 10px;
    grid-template-areas: "header header header header"
        "biografia biografia biografia biografia"
        "fotoInicio fotoInicio fotoInicio fotoInicio"
        "footer footer footer footer";
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}


header {
    display: grid;
    background-color: map-get($map: $colores, $key: primario);
    height: 100px;
    margin: 0px;
    margin-bottom: 30px;
    grid-area: header;
}

.flotante {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}

#logo {
    cursor: pointer;
    margin-right: auto;
}

.logo {
    width: 100%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: map-get($map: $colores, $key: primario);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: map-get($map: $colores, $key: primario);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: white;
}

.flotante {
    background-color: map-get($map: $colores, $key: secundario );
    height: 40px;
    margin: 30px 10%;
    border-radius: 10px;

}

// Anidación SASS


.biografia {
        grid-area: biografia;
        margin-top: 20px;
    }
    .bio {
        font-size: 20px;
        text-align: center;
        margin: 10px 300px;
    }
    .quienesSomos {
        font-size: 30px;
        text-align: center;
        font-family: kayak_sans_bold;
}


.fotoInicio{
    justify-content: space-between;
    text-align: center;
    grid-area: fotoInicio;
    }
    .foto {
        display: inline;
        width: 500px;
        margin: 5px;
        border-radius: 10px;
}

.footer{
    background-color: map-get($map: $colores, $key: primario);
    padding-top: 5px;
    grid-area: footer;
    

    }
    .footer2 {
        background-color: map-get($map: $colores, $key: footer );
        height: 100px;
    
    .logoFooter {
        width: 120px;
        margin: 20px auto auto 20px;
    }
    
}

// Fin de anidación



    /* Fotografias */

    .fotoFoto {
        justify-content: space-between;
        text-align: center;
        grid-area: fotoInicio;
        margin: 80px 0px 0px 150px;
        padding: 30px;
        background-color: map-get($map: $colores, $key: secundario );
        border-radius: 10px;
    }

    .tituloIz {
        font-size: 30px;
        text-align: left;
        margin-left: 250px;
        font-family: kayak_sans_bold;
    }

    .fotoFoto1 {
        justify-content: space-between;
        text-align: center;
        grid-area: fotoInicio;
        padding: 20px;
        background-color: map-get($map: $colores, $key: secundario );
        margin: 40px 150px 0px 0px;
    }

    .tituloDe {
        font-size: 30px;
        text-align: right;
        margin-right: 250px;
        font-family: kayak_sans_bold;
    }

    .fotoFoto3 {
        justify-content: space-between;
        text-align: center;
        grid-area: fotoInicio;
        padding: 20px;
        margin: 40px 0px 0px 150px;
        background-color: map-get($map: $colores, $key: secundario );
    }



    /* Servicios */

    .contenedor2 {
        display: grid;
        gap: 10px;
        grid-template-areas: "header header header header"
            "mainContainer mainContainer mainContainer2 mainContainer2"
            "footer footer footer footer";
    }

    .mainContainer {
        margin: 150px auto;
        width: 700px;
        background-color: map-get($map: $colores, $key: secundario );
        grid-area: mainContainer;
    }

    .mainContainer2 {
        margin: 150px auto;
        width: 700px;
        background-color: map-get($map: $colores, $key: secundario );
        grid-area: mainContainer2;
    }

    table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 25px;
    }

    thead {
        background-color: map-get($map: $colores, $key: primario);
        border-bottom: #707070 solid 2px;
    }

    tr:nth-child(even) {
        background-color: #ddd;
    }

    tr:hover td {
        background-color: map-get($map: $colores, $key: terciario);
        color: white;
    }




    /* Contacto */

    form {
        background-color: map-get($map: $colores, $key: secundario );
        padding: 20px;
        margin: 80px auto;
        width: 440px;
        border-radius: 3px;
    }

    input,
    textarea {
        outline: none;
        border: 1px;
        border-radius: 2px;
        background-color: white;
        padding: 20px;
        width: 380px;
        border-color: map-get($map: $colores, $key: primario);
        margin: 5px auto;
    }

    .cajas {
        text-align: center;
    }

    @mixin botones ($fondo){
        outline: none;
        border: 1px;
        border-radius: 2px;
        background-color: $fondo;
        padding: 20px;
        width: 200px;
        margin: 5px auto;   
    }

    .boton1 {
        @include botones(map-get($map: $colores, $key: primario))
    }

    .boton2 {
        @include botones(map-get($map: $colores, $key: terciario))
    }
    .botones {
        text-align: center;
    }

    .label {
        text-align: center;
    }


    // Videos

    .fotoVideo {
        margin-top: 80px;
        @extend .fotoInicio
        
    }
        .fotoV{
            @extend .foto
        }


